#===============================================================================
# Configuration file used by the script doitGROMACS.sh, written by Francesco 
# Carbone (UCL). doitGROMACS.sh checks the existance of this confguration file 
# and read the variables contained. 
#
#     THIS FILE MUST BE EDITED ACCORDING TO THE SYSTEM IT IS RUNNING
#								      designed for gromacs 4.6
#  
#                       last edit: 28-10-2015
#
#===============================================================================

#================================= Binaries ===================================

catomainBIN=~martin/bin/catomain
pdbtorsions=~martin/bin/pdbtorsions

# DEFAULT binaries
groPATH4_default='/usr/local/gromacs/bin'
groPATH5_default='/usr/local/gromacs/bin'
REXE_default='/usr/bin/R'  
RscriptEXE_default='/usr/bin/Rscript'

# ACRM binaries
groPATH4_acrm='/acrm/usr/local/apps/gromacs/bin'
groPATH5_acrm='/acrm/usr/local/apps/gromacs-5.0.4/bin'
REXE_acrm='/export/francesco/softwares/r-3.2.1/bin/R'  
RscriptEXE_acrm='/export/francesco/softwares/r-3.2.1/bin/Rscript'

# EMERALD binaries
#groPATH4_emerald='/apps/gromacs/4.6.3/bin'
groPATH4_emerald='/apps/gromacs/4.6.7/bin'
groPATH5_emerald='/apps/gromacs/5.0.4/bin'

# USER machine
groPATH4_user='/add/what/you/want/bin'
groPATH5_user='/add/what/you/want/bin'
REXE_user='/add/what/you/want/bin/R'  
RscriptEXE_user='/add/what/you/want/bin/Rscript'

