#===============================================================================
# Configuration file used by the script doitGROMACS.sh, written by Francesco 
# Carbone (UCL). doitGROMACS.sh checks the existance of this file and read the 
# variables it containes. 
#
#     THIS FILE MUST BE EDITED ACCORDING TO THE SYSTEM IT IS RUNNING
#								      designed for gromacs 4.6
#  
#                       last edit: 15-06-2016
#
#===============================================================================

#================================= Binaries ===================================

catomainBIN=~martin/bin/catomain
pdbtorsions=~martin/bin/pdbtorsions

# DEFAULT binaries
groPATH4_default='/usr/local/gromacs/bin'
groPATH5_default='/usr/local/gromacs/bin'
REXE_default='/usr/bin/R'  
RscriptEXE_default='/usr/bin/Rscript'

# ACRM binaries
groPATH4_acrm='/acrm/usr/local/apps/gromacs/bin'
groPATH5_acrm='/acrm/usr/local/apps/gromacs-5.0.4/bin'
REXE_acrm='/export/francesco/softwares/r-3.2.1/bin/R'  
RscriptEXE_acrm='/export/francesco/softwares/r-3.2.1/bin/Rscript'

# EMERALD binaries
#groPATH4_emerald='/apps/gromacs/4.6.3/bin'
groPATH4_emerald='/apps/gromacs/4.6.7/bin'
groPATH5_emerald='/apps/gromacs/5.0.4/bin'

# USER defined binaries:
# Replace ** with something: groPATH4_** -> groPATH4_mylaptop
# To use these binary, set -b mylaptop
groPATH4_**='/add/what/you/want/bin'
groPATH5_**='/add/what/you/want/bin'
REXE_**='/add/what/you/want/bin/R'  
RscriptEXE_**='/add/what/you/want/bin/Rscript'

