#===============================================================================
# Configuration file used by the script doitGROMACS.sh, written by Francesco 
# Carbone (UCL). doitGROMACS.sh checks the existance of this confguration file 
# and read the variables contained. If the file is not found a new one will be 
# generated using standard values.
#
#     THIS FILE MUST BE EDITED ACCORDING TO THE SYSTEM IT IS RUNNING
#								      designed for gromacs 4.6
#  
#                       last edit: 20-05-2015
#
#===============================================================================

#================================= simulation options =========================

optionFF='6'          # 	force field: AMBER99S-ILDN protein, nucleic AMBER94
optionWM='1'          # 	water model: TIP3P
optionBOX='triclinic' #   box shape
optionDISTEDGE='1.4'  # 	protein-box distance [nm]

optionTEMP='310'      # 	system temperature [K]

#================================== MDPs options ==============================

ioniMDP='./ionization.mdp'         
minMDP="./"$optionTEMP"_min.mdp"
nvtMDP="./"$optionTEMP"_nvt.mdp"
nptMDP="./"$optionTEMP"_npt.mdp"

#================================= general options ============================

optionRMSD='Backbone'			#
optionGYRATION='Protein'  #
optionRMSFb='Backbone'		#	
optionRMSFsc='SideChain'	#

optiondump='0'            #  [ps] 
optionSTARTime='0'        #  [ps]   [option used for cluster/pca/dssp/sas]

#================================== cluster options ===========================

optionCLUSTER='Backbone'		  #
optionCLUSTERMETHOD='gromos'  #
optionSKIPcluster='100'			  #	jump in [ps]

#==================================== pca options =============================

optionPCA='C-alpha'   #
optionDTpca='100'			#	jump in [ps]

#==================================== sas options =============================
     
optionSAS='Protein'		#		
optionDTsas='250'   	#	  jump in [ps]
optionPROBE='0.7'			# 	probe size [nm] => 15A x' antibody
optionNDOTS='24'      # 	dots per probe

#==================================== dssp options ============================

optionDSSP='Mainchain'  #
optionDTdssp='100'   		#	jump in [ps]

#==================================== hb options ============================

optionDThb='100'        # jump in [ps]
optionHB='Protein'
#optionHB='G6P'
#optionHB='Co-enzyme'
#optionHB='strNADP+'

#=================================== index options ============================

# indexes definition
option1='r 171 201 202 205 239 258 263 360 365 395'
option1name='G6P'
option2='r 38 40 41 43 72 73 112 141 143 144 146 170 171 172'
option2name='Co-enzyme'
option3='r 238 357 363 364 366 370 393 401 403 421 423 487 493 503 507 509'
option3name='strNADP'

#================================= Binaries ===================================

catomainBIN='~martin/bin/catomain'

